body{
  background: linear-gradient(to bottom left, #000000 0%, #9966ff 100%);
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
}

#app{
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  gap:300px;
}

nav{
  width: 100%;
  height: 140px;
  background-color: rgba(0, 0, 0,30%);
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}
.navbarLinks{
  display: flex;
  font-size: 40px;
  color: white;
  padding: 30px;
  gap: 50px;
}
.navlink{
  text-decoration-line: none;
  color: white;
}
.container{
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
}
.card {
  min-width: 300px;
  min-height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;

  max-width: 600px;
  height: 300px;
  padding: 35px;

  border: 1px solid rgba(255, 255, 255, .25);
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 0.45);
  box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.25);

  backdrop-filter: blur(15px);
}
.contactCard{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  padding: 30px;
  gap: 5px;
}
.contactImage{
  height: 96px;
  width: 96px;
}
.repo{
  display: flex;
  flex-direction: column;
  background-color: #333;
  width: 220px;
  height: 90px;
  justify-content: space-between;
  padding: 15px 40px 0px 20px;
  flex-wrap: nowrap;
  border-radius: 10px;
}
.repoFooter{
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: nowrap;
  gap: 10px;
}
.repoFooter > p {
  color: #7A7A7C;
}
.repoColor{
  width: 20px;
  height: 20px;
  border-radius: 50%;
}
.repoLink{
  color: white;
  font-size: 20px;
  text-decoration: none;
}
.repoLink:hover{
  text-decoration: underline;
}
.contactDiv{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  justify-content:center;
}
.reposDiv{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  gap:30px
}